@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@1,300&display=swap');
@import 'old';
@import 'variables-dark';
@import 'gallery';


* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.nav .active a,
.nav a:hover,
.nav-toggle:hover {
    color: #fff;
}

.nav ul li a {
    color: #fff;
}

.container .title p {
    color: #fff;
}

a {
    color: #fff;
}

p {
    color: #fff;
}

.main {
    background-color: $background-color;
}

.header {
    background-color: $background-color;
}

.title h1 {
    color: #fff;
}

.footer {
    background-color: $background-color;
}

body .main {
    color: #fff;
}

div .kmom-box {
    background-color: $background-color;
}

@import 'report';
